body {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#simulator {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 200px;
}

#result1,
#result2 {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

#team-1,
#team-2 {
  background-color: rgb(187, 235, 228);
  width: 250px;
  height: 60px;
  border: 1px solid rgba(139, 139, 139, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
}

#team-1-score,
#team-2-score {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  width: 60px;
  height: 60px;
  color: black;
}

#button {
  height: 30px;
  width: 150px;
  transform: translate(0px, +60px);
}
#button:hover {
  background-color: rgba(241, 77, 77, 0.582);
  border: 2px inset rgba(165, 165, 165, 0.363);
}
#resultTable {
  background-color: lightblue;
  border: 1 solid rgba(129, 129, 129, 0.473);
  transform: translate(-650px, 300px);
  width: 300px;
  height: 400px;
}
